body{
	background-color:rgb(212,212,212);
	opacity:0.5;
}
#body-ccb{
	width:730px; 
	height:370px;
	position:absolute; 
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius:30px;
	background-color:yellow;
}
#color-p{
	background-color:red;
	height:10%;
}
#title-div{
	color:rgb(255,255,255);
	font-family:Microsoft YaHei UI Light;
	font-size:25px;
	text-align:center;
}
#content{
	font-family:Microsoft YaHei UI Light;
	text-align:center;
	font-size:25px;
	left: 0;
	top: 0;
	right: 0;
}
