#title-head{
	 text-align:center;
	 color:#ffffff;
	 font-size:25px;
 }
/*#title_0{
	text-align:center;
	position: absolute; 
	left: 50%;
	top: 45%;
	margin-left: -60px;
	margin-top: -50px;
	font-family:楷体;
	/*
	color:#ffffff;
	*/
}
 #title_1{
	text-align:center;
	position: absolute;
	margin-left:-65px;
	margin-top:-10px;
	font-family:Microsoft YaHei UI Light;
	/*
	color:#ffffff;
	*/
}
#title-image-1{
width:100%;
	/*
	调节图片大小（缩放）
	*/
}
