p{
	font-family:迷你简家书;
}
#title-p{
	font-size:18px;
	text-align:left;
	padding:8px 15px;
}

#back-p{
	font-size:19px;
	font-family:迷你简家书;
	height:30px;
}
#content-p{
	text-align:left;
}
#copyright p{
	color:rgb(255,255,255)
}
#p-submit{
	text-align:center;
	color:rgb(255,255,255)
}
#new-title-p{
	font-family:迷你简家书;
	font-size:20px;
	text-align:left;
	padding:10px 10px ;
}

